@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>

    <div class="card">
        <div class="card-body">
            Proveedores: @ViewData["ProveedoresCount"]
        </div>
    </div>


</div>
